<head>
    <meta charset="UTF-8">
    <title>lab13_weather</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/lab13.css"/>
    <img src="http://openweathermap.org/img/wn/10d@2x.png"/>
</head>