<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music World - Song</title>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <link rel="stylesheet" href="css/custom6.css"/>
    <link rel="stylesheet" href="css/custom4.css"/>
    <link rel="stylesheet" href="css/custom5.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="libs/fontawesome/css/all.css"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="z-top-bar">
            <div class="z-top-bar-inner">
                <a class="logo" href="/home">Zing Mp3</a>
                <div class="menu-bar">
                    <div class="z-menu-bar-inner">
                        <ul class="z-nav">
                            <li><a class="nav-link" href="/home">HOME</a></li>
                            <li><a class="nav-link" href="/jazz">JAZZ</a></li>
                            <li><a class="nav-link" href="/rock">ROCK</a></li>
                            <li><a class="nav-link" href="/pop">POP</a></li>
                            <li><a class="nav-link" href="/classical">CLASSICAL</a></li>
                            <li><a class="nav-link" href="/rap">RAP</a></li>
                            <li><a class="nav-link" href="/album">ALBUM</a></li>
                            <li><a class="nav-link" href="/artist">ARTIST</a></li>
                            <li><a class="nav-link" href="https://signinn.herokuapp.com/#" target="_blank">VIP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="z-search-wrap">
                    <form action="/search">
                        <div class="z-input-group">
                            <div class="search-icon">
                            </div>
                            <div class="input-wrapper">
                                <input type="text" name="keyword"  class="form-search" placeholder="Search for artists, bands, tracks, podcasts"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="user-profile">
                    <div class="text-vll">
                        <a href="https://signinn.herokuapp.com/#" target="_blank" class="text-vll-1">LOGIN</a>
                    </div>
                    <div class="icon-vll">
                        <a href="https://signinn.herokuapp.com/#" target="_blank">
                            <i class="far fa-user"></i>
                        </a>
                    </div>
                    <div class="icon-vll">
                        <a href="https://signinn.herokuapp.com/#" target="_blank">
                            <i class="far fa-bell"></i>
                        </a>
                    </div>
                    <div class="icon-vll">
                        <a href="https://signinn.herokuapp.com/#" target="_blank" class="icon-vll-1">
                            <i class="fas fa-upload"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="main">
    <div class="container">
        <div id="wrap">

            <div class="search-info">
               <div class="z-search-info">
                   <a href="/search">All</a>
               </div>
                <div class="z-search-info">
                    <a href="#">Artist</a>
                </div>
                <div class="z-search-info">
                    <a href="#">Song</a>
                </div>
                <div class="z-search-info">
                    <a href="/album">Album</a>
                </div>
            </div>

            <div class="x-search">
                <div class="x-song">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="z-name">Song name</h2>
                            <% khs.map(function (v) { %>
                            <ul class="list-song">
                                <li class="bor-bottom">
                                    <a href="#" class="thumb">
                                        <div class="image3">
                                            <img class="image__img" src="https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/4/d/e/4/4de4dadb62cc5bc37efdea4b84bf5184.jpg"/>
                                            <div class="image__overlay image__overlay--primary">
                                                <div class="image__title">
                                                    <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-info">
                                            <div class="title">
                                                <a href="/play/<%=v.name%>">  <%= v.name%></a>
                                            </div>
                                            <a class="artist5" href="#">
                                                <p><%=v.singer%></p>
                                            </a>
                                        </div>

                                    </a>
                                </li>
                            </ul>
                            <% }) %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="copyright">
            <span class="z-logo"></span>
            <div class="z-license-info">
                <div class="z-copyright">A Product By T2004E-FPT APTECH</div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>